:root {
  /* Paleta de colores */
  --color-dark: #1E2A47;
  --color-primary: #FF9F00;
  --color-secondary: #7c8a8d;
  --color-text: #333333;
  --color-white: #FFFFFF;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}